 body {
     font-family: 'Poppins', sans-serif;
     /* sem serifa como alternativa caso não carregue a Poppins*/
     max-width: 1280px;
     margin: 0 auto;
     /*0 pra cima e pra baixo, auto para os lados = cima, direita, baixo, esquerda*/
     background: rgb(172, 172, 172);
     background: linear-gradient(90deg, rgb(134, 134, 134) 0%, rgb(244, 244, 244) 75%, rgb(203, 203, 203) 100%);
 }

 body.modo-escuro {
     background: linear-gradient(to right, #333333 0%, #7f7f7f 75%, #7f7f7f 75%, #4c4c4c 100%);
     color: #000000;
     transition: 0, 2s ease-in-out;
 }

 header {
     display: flex;
     justify-content: space-between;
     padding: 25px;
 }

 p {
     color: white;
 }

 p .modo-escuro {
     color: white;
 }

 header .logo,
 header .imagem-botao {
     /*estiliza a classe logo e imagem botao somente do header*/
     width: 80px;
     transition: 0.2s ease-in-out;
 }

 header #botao-alterar-modo {
     background: none;
     border: none;
     cursor: pointer;
 }

 header .logo:hover,
 header .imgagem-botao:hover,
 main .cartao-vaso:hover {
     transform: scale(1.2);
     cursor: pointer;
 }

 main {
     padding: 25px;
 }

 main .listagem-vasos {
     display: flex;
     flex-wrap: wrap;
     gap: 30px;
     justify-content: center;
 }

 main .cartao-vaso {
     background-color: #c5c4c4;
     width: 200px;
     padding: 15px;
     display: flex;
     flex-direction: column;
     align-items: center;
     gap: 15px;
     border-radius: 15px;
     /*arredondar*/
     transition: 0.2s ease-in-out;
 }

 main .cartao-vaso:hover {
     background-color: #e6e6e6;
 }

 .modo-escuro .cartao-vaso {
     background-color: rgb(149, 149, 149);
 }

 main .cartao-vaso .nome-vaso {
     display: flex;
     justify-content: space-between;
     border: 1px solid #333333;
     border-radius: 10px;
 }

 main .cartao-vaso .nome-vaso span {
     padding: 5px;
     text-transform: uppercase;
     font-size: 17px;
 }

 main .cartao-vaso .imagens-vaso {
     width: 90px;
     height: 90px;
 }

 main .cartao-vaso .preco {
     background-color: white;
     display: flex;
     gap: 15px;
 }

 .preco {
     padding: 8px;
     border-radius: 10px;
 }

 .tipo-preco {
     font-style: italic;
 }

 main .descricao {
     max-height: 80px;
     overflow-y: scroll;
     font-size: 14px;
     padding-right: 10px;
 }

 /*    -   -   -   -   -   -   -   -   -   -   */

 .flex {
     /*Flexbox for containers*/
     display: flex;
     justify-content: center;
     align-items: center;
     text-align: center;
 }

 .full-width {
    left: 0;
    right: 0;
}

.waves {
    position: absolute; /* Alterado de 'relative' para 'absolute' */
    width: 100%;
    height: 100%; /* Alterado para '100%' */
    margin-bottom: -7px;
    /*Fix for safari gap*/
    min-height: 100px;
    max-height: 150px;
}


 .content {
     position: relative;
     height: 20vh;
     text-align: center;
     background-color: white;
 }

 /* Animation */

 .parallax>use {
     animation: move-forever 25s cubic-bezier(.55, .5, .45, .5) infinite;
 }

 .parallax>use:nth-child(1) {
     animation-delay: -2s;
     animation-duration: 7s;
 }

 .parallax>use:nth-child(2) {
     animation-delay: -3s;
     animation-duration: 10s;
 }

 .parallax>use:nth-child(3) {
     animation-delay: -4s;
     animation-duration: 13s;
 }

 .parallax>use:nth-child(4) {
     animation-delay: -5s;
     animation-duration: 20s;
 }

 @keyframes move-forever {
     0% {
         transform: translate3d(-90px, 0, 0);
     }

     100% {
         transform: translate3d(85px, 0, 0);
     }
 }